
.image {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    font-weight: 900;
}

.about-me {
    font-style: italic;
    margin-top: 20px;
}
h2 {
    text-align: center;
    text-decoration: underline;
}

h4 {
    color: #BFE3AD;
}