
.image {
    width: 350px;
    height: auto;
    padding: 6px;
    margin: 20px;
}

.name-heading {
    font-weight: 900;
}

.about-me {
    font-style: italic;
    margin: 20px;
}
h2 {
    text-align: center;
    text-decoration: underline;
}

h4 {
    color: #BFE3AD;
}