
.image {
    width: 500px;
    height: auto;
    padding: 6px;
    margin: 20px;
}

.name-heading {
    font-weight: 900;
}

.about-me {
    font-style: italic;
    margin: 20px;
}
h2 {
    text-align: center;
    text-decoration: underline;
}

@media screen and (min-width: 480px) {
    body {
        background-color: black;
        color: white;
    }
}
  